/* Contact us section styling */
.contact-us {
    width: 100%;
    max-width: 1400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
  }
  
  .contact-us h2 {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .contact-form {
    width: 335px;
    height: 337px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 5px 0;
    resize: none;
    background: none;
  }
  
  .input-group .underline {
    display: none;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #FF6565;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 30px;
  }
  
  .cta-button:hover {
    background-color: lightgray;
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    .contact-us {
      height: auto;
      padding: 40px 20px;
    }
  
    .contact-us h2 {
      font-size: 28px;
    }
  
    .contact-form {
      max-width: 100%;
    }
  }
  
  /* For mobile devices */
  @media (max-width: 480px) {
    .contact-us h2 {
      font-size: 24px;
    }
  
    .cta-button {
      width: 100%;
      font-size: 14px;
    }
  
    .input-group input,
    .input-group textarea {
      font-size: 14px;
    }
  }
  